@model LivroViewModel

@{
    ViewData["Title"] = "Livros - Alterar";
}

@section scripts{
    <script src="~/js/change_image.js"></script>

    <script>
        $(function () {

            $("#Livro_DataPublicacao").datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR'
            });
        });

    </script>
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Alterar", "Livros", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="card-body">

                @Html.AntiForgeryToken()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.Livro.LivroId)
                @Html.HiddenFor(a => a.Livro.DataCadastro)

                <div class="row clearfix">
                    <div class="col-md-4">
                        @Html.LabelFor(a => a.Livro.Titulo)
                        @Html.TextBoxFor(a => a.Livro.Titulo, "", new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(a => a.Livro.Titulo)
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(a => a.Livro.Autor)
                        @Html.TextBoxFor(a => a.Livro.Autor, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Livro.Autor)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Livro.EditoraId)
                        @Html.DropDownListFor(a => a.Livro.EditoraId, HelperLista.Editoras(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Livro.EditoraId)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Livro.DataPublicacao)
                        @Html.TextBoxFor(a => a.Livro.DataPublicacao, "", new { @class = "form-control date" })
                        @Html.ValidationMessageFor(a => a.Livro.DataPublicacao)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Livro.DataCadastro)
                        @Html.TextBoxFor(a => a.Livro.DataCadastro, "", new { @class = "form-control date", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.Livro.DataCadastro)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Livro.StatusId)
                        @Html.DropDownListFor(a => a.Livro.StatusId, HelperLista.Status(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Livro.StatusId)
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.LabelFor(a => a.Livro.AreaConhecimento)
                        @Html.TextAreaFor(a => a.Livro.AreaConhecimento, 6, 30, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Livro.AreaConhecimento)
                    </div>
                </div>

                <div class="row clearfix margin-top-40">

                    <div class="col-sm-2">
                        <img id=preview width="100" height="100" src="@Model.Image">
                    </div>

                    <div class="col-md-5">
                        <label asp-for="File"></label>
                        <input asp-for="File" class="form-control" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "Livros")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>