@model Domain.HorarioAula

@{
    ViewData["Title"] = "Horários de Aula - Adicionar";
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Adicionar", "HorarioAulas", FormMethod.Post))
        {
            <div class="card-body">

                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(a => a.DiaSemana)
                        @Html.DropDownListFor(a => a.DiaSemana, HelperLista.DiaSemana(), null, new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(a => a.DiaSemana)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.DiciplinaPrimeiroId)
                        @Html.DropDownListFor(a => a.DiciplinaPrimeiroId, HelperLista.Diciplinas(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.DiciplinaPrimeiroId)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.DiciplinaSegundoId)
                        @Html.DropDownListFor(a => a.DiciplinaSegundoId, HelperLista.Diciplinas(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.DiciplinaSegundoId)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.DiciplinaTerceiroId)
                        @Html.DropDownListFor(a => a.DiciplinaTerceiroId, HelperLista.Diciplinas(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.DiciplinaTerceiroId)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.DiciplinaQuartoId)
                        @Html.DropDownListFor(a => a.DiciplinaQuartoId, HelperLista.Diciplinas(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.DiciplinaQuartoId)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.TurmaId)
                        @Html.DropDownListFor(a => a.TurmaId, HelperLista.Turmas(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.TurmaId)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.Periodo)
                        @Html.DropDownListFor(a => a.Periodo, HelperLista.Periodo(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Periodo)
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "HorarioAulas")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>