@model HorarioAulaViewModel

@{
    ViewData["Title"] = "Horários de Aula - Adicionar";
}

@section scripts{
    <script src="~/js/change_image.js"></script>
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Adicionar", "HorarioAulas", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="card-body">

                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(a => a.HorarioAula.DiaSemana)
                        @Html.DropDownListFor(a => a.HorarioAula.DiaSemana, HelperLista.DiaSemana(), "Selecione", new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(a => a.HorarioAula.DiaSemana)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.HorarioAula.DiciplinaPrimeiroId)
                        @Html.DropDownListFor(a => a.HorarioAula.DiciplinaPrimeiroId, HelperLista.Diciplinas(), "Selecione", new { @class = "form-control" })
                        @Html.ValidationMessage("DiciplinaPrimeiro")
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.HorarioAula.DiciplinaSegundoId)
                        @Html.DropDownListFor(a => a.HorarioAula.DiciplinaSegundoId, HelperLista.Diciplinas(), "Selecione", new { @class = "form-control" })
                        @Html.ValidationMessage("DiciplinaSegundo")
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.HorarioAula.DiciplinaTerceiroId)
                        @Html.DropDownListFor(a => a.HorarioAula.DiciplinaTerceiroId, HelperLista.Diciplinas(), "Selecione", new { @class = "form-control" })
                        @Html.ValidationMessage("DiciplinaTerceiro")
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.HorarioAula.DiciplinaQuartoId)
                        @Html.DropDownListFor(a => a.HorarioAula.DiciplinaQuartoId, HelperLista.Diciplinas(), "Selecione", new { @class = "form-control" })
                        @Html.ValidationMessage("DiciplinaQuarto")
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.HorarioAula.TurmaId)
                        @Html.DropDownListFor(a => a.HorarioAula.TurmaId, HelperLista.Turmas(), "Selecione", new { @class = "form-control" })
                        @Html.ValidationMessage("Turma")
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.HorarioAula.Periodo)
                        @Html.DropDownListFor(a => a.HorarioAula.Periodo, HelperLista.Periodo(), "Selecione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.HorarioAula.Periodo)
                    </div>
                </div>

                <div class="row clearfix margin-top-40">

                    <div class="col-sm-2">
                        <img id=preview width="100" height="100" src="~/images/sem-imagem.jpg">
                    </div>

                    <div class="col-md-6">
                        <label asp-for="File"></label>
                        <input asp-for="File" class="form-control" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "HorarioAulas")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>