@{
    ViewData["Title"] = "Horários de Aula";
}

@section Scripts{
    <script>
        $(function () {

            render_action();

            $('#Status, #Turma').change(search);
            $('#DataInicial, #DataFinal').focusout(search);

            $("#DataInicial, #DataFinal").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
        });

        function search() {

            var filters = {
                StatusId: $('#Status').val(),
                TurmaId: $('#Turma').val(),
                DataInicial: $('#DataInicial').val(),
                DataFinal: $('#DataFinal').val()
            }

            render_action(filters);
        }

        function render_action(filters) {
            $.ajax({
                method: 'GET',
                url: '/Admin/HorarioAulas/Grid',
                dataType: 'html',
                data: filters,
                success: function (content) {
                    $('#Grid').html(content);
                }
            });
        }

    </script>
}

<div class="card">

    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("lblTurma", "Turma")
                        @Html.DropDownList("Turma", HelperLista.Turmas(), "Selecione", new { @class = "form-control" })
                    </div>

                    @*<div class="col-md-2">
                        @Html.Label("lblDataInicial", "Data Inicial")
                        @Html.TextBox("DataInicial", "", new { @class = "form-control date" })
                    </div>

                    <div class="col-md-2">
                        @Html.Label("lblDataFinal", "Data Final")
                        @Html.TextBox("DataFinal", "", new { @class = "form-control date" })
                    </div>*@

                    <div class="col-md-2">
                        @Html.Label("lblStatus", "Status")
                        @Html.DropDownList("Status", HelperLista.Status(), "Todos", new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <a href="@Url.Action("Adicionar", "HorarioAulas")" class="btn btn-sm btn-primary btn-block" title="">Adicionar</a>
                <a href="@Url.Action("Relatorio", "HorarioAulas")" class="btn btn-sm btn-primary btn-block" title="">Imprimir</a>
            </div>

        </div>

    </div>
</div>

<div id="Grid"></div>