@model Domain.Diciplina

@{
    ViewData["Title"] = "Diciplinas - Alterar";
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Alterar", "Diciplinas", FormMethod.Post))
        {
            <div class="card-body">

                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.DiciplinaId)
                @Html.HiddenFor(a => a.DataCadastro)

                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.LabelFor(a => a.Nome)
                        @Html.TextBoxFor(a => a.Nome, "", new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(a => a.Nome)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.CargaHoraria)
                        @Html.TextBoxFor(a => a.CargaHoraria, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.CargaHoraria)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.HoraSemanal)
                        @Html.TextBoxFor(a => a.HoraSemanal, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.HoraSemanal)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.CreditoEnsino)
                        @Html.TextBoxFor(a => a.CreditoEnsino, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.CreditoEnsino)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.CreditoAtividadePratica)
                        @Html.TextBoxFor(a => a.CreditoAtividadePratica, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.CreditoAtividadePratica)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.CreditoAtividadeCampo)
                        @Html.TextBoxFor(a => a.CreditoAtividadeCampo, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.CreditoAtividadeCampo)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.StatusId)
                        @Html.DropDownListFor(a => a.StatusId, HelperLista.Status(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.StatusId)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(a => a.DataCadastro)
                        @Html.TextBoxFor(a => a.DataCadastro, "", new { @class = "form-control date", @readolny = "readolny" })
                        @Html.ValidationMessageFor(a => a.DataCadastro)
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        @Html.LabelFor(a => a.Ementa)
                        @Html.TextAreaFor(a => a.Ementa, 6, 30, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Ementa)
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "Diciplinas")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>

            </div>

        }
    </div>
</div>