@model EditoraViewModel

@{
    ViewData["Title"] = "Editoras - Alterar";
}

@section scripts{
    <script src="~/js/change_image.js"></script>
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Alterar", "Editoras", FormMethod.Post))
        {
            <div class="card-body">

                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.Editora.EditoraId)

                <div class="row clearfix">
                    <div class="col-md-4">
                        @Html.LabelFor(a => a.Editora.Nome)
                        @Html.TextBoxFor(a => a.Editora.Nome, "", new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(a => a.Editora.Nome)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Editora.StatusId)
                        @Html.DropDownListFor(a => a.Editora.StatusId, HelperLista.Status(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Editora.StatusId)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Editora.DataCadastro)
                        @Html.TextBoxFor(a => a.Editora.DataCadastro, "", new { @class = "form-control date", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.Editora.DataCadastro)
                    </div>
                </div>

                <div class="row clearfix margin-top-40">

                    <div class="col-sm-2">
                        <img id=preview width="100" height="100" src="@Model.Image">
                    </div>

                    <div class="col-md-6">
                        <label asp-for="File"></label>
                        <input asp-for="File" class="form-control" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "Editoras")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>