@model Domain.Projeto

@{
    ViewData["Title"] = "Projetos - Adicionar";
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Adicionar", "Projetos", FormMethod.Post))
        {
            <div class="card-body">

                @Html.AntiForgeryToken()

                <div class="row clearfix">

                    <div class="col-md-4">
                        @Html.LabelFor(a => a.Nome)
                        @Html.TextBoxFor(a => a.Nome, "", new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(a => a.Nome)
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(a => a.UserId)
                        @Html.DropDownListFor(a => a.UserId, HelperLista.Docentes(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.UserId)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.CargaHoraria)
                        @Html.TextBoxFor(a => a.CargaHoraria, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.CargaHoraria)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.DataInicio)
                        @Html.TextBoxFor(a => a.DataInicio, "", new { @class = "form-control date" })
                        @Html.ValidationMessageFor(a => a.DataInicio)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.DataTermino)
                        @Html.TextBoxFor(a => a.DataTermino, "", new { @class = "form-control date" })
                        @Html.ValidationMessageFor(a => a.DataTermino)
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "Projetos")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>