@model DicenteViewModel
@{
    ViewData["Title"] = "Dicentes - Adicionar";
}

@section scripts{
    <script src="~/js/change_image.js"></script>
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Adicionar", "Dicentes", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Dicente.Matricula)
                        @Html.TextBoxFor(a => a.Dicente.Matricula, "", new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(a => a.Dicente.Matricula)
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(a => a.Dicente.Nome)
                        @Html.TextBoxFor(a => a.Dicente.Nome, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Dicente.Nome)
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(a => a.Dicente.Email)
                        @Html.TextBoxFor(a => a.Dicente.Email, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Dicente.Email)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Dicente.Telefone)
                        @Html.TextBoxFor(a => a.Dicente.Telefone, "", new { @class = "form-control celular" })
                        @Html.ValidationMessageFor(a => a.Dicente.Telefone)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Dicente.Celular)
                        @Html.TextBoxFor(a => a.Dicente.Celular, "", new { @class = "form-control celular" })
                        @Html.ValidationMessageFor(a => a.Dicente.Celular)
                    </div>
                </div>

                <div class="row clearfix margin-top-40">

                    <div class="col-sm-2">
                        <img id=preview width="100" height="100" src="~/images/sem-imagem.jpg">
                    </div>

                    <div class="col-md-6" style="margin-left: -9%;">
                        <label asp-for="File"></label>
                        <input asp-for="File" class="form-control" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "Dicentes")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
