@model IEnumerable<Repository.Repository.ViewModel.DicenteViewModel>

@{
    Layout = null;
}

<div class="row">
    @foreach (var Dicente in Model.OrderBy(a => a.Nome))
    {
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <img class="card-profile-img" src="@Dicente.Image" alt="">
                    <h5 class="mb-0">@Dicente.Nome</h5>
                    <span>Computer</span>
                    <div class="text-muted">@Dicente.Email</div>
                    <p class="mb-4 mt-3">@Dicente.Status</p>
                    <p class="mb-4 mt-3">@Dicente.DataCadastro.ToString("dd/MM/yyyy")</p>
                    <a href="@Url.Action("Detalhes", "Dicentes", new { Id = Dicente.DicenteId })" class="btn btn-primary btn-sm">Detalhes</a>
                    <a href="@Url.Action("Alterar", "Dicentes", new { Id = Dicente.DicenteId })" class="btn btn-primary btn-sm">Alterar</a>
                </div>
            </div>
        </div>
    }
</div>