@{
    ViewData["Title"] = "Dicentes";
}

@section Scripts{
    <script>
        $(function () {

            render_action();

            $('#Status').change(search);
            $('#Buscar').keyup(search);
            $('#DataInicial, #DataFinal').focusout(search);

            $("#DataInicial, #DataFinal").datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR'
            });
        });

        function search() {

            var filters = {
                Buscar: $('#Buscar').val(),
                StatusId: $('#Status').val(),
                AreaAtuacaoId: $('#AreaAtuacao').val(),
                DataInicial: $('#DataInicial').val(),
                DataFinal: $('#DataFinal').val()
            }

            render_action(filters);
        }

        function render_action(filters) {
            $.ajax({
                method: 'GET',
                url: '/Admin/Dicentes/Grid',
                dataType: 'html',
                data: filters,
                success: function (content) {
                    $('#Grid').html(content);
                }
            });
        }

    </script>
}

<div class="card">

    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("lblNome", "Buscar por")
                        @Html.TextBox("Buscar", "", new { @class = "form-control", @placeholder = "'Nome' ou 'Matricula'", @autofocus = "autofocus" })
                    </div>

                    <div class="col-md-2">
                        @Html.Label("lblDataInicial", "Data Inicial")
                        @Html.TextBox("DataInicial", "", new { @class = "form-control date" })
                    </div>

                    <div class="col-md-2">
                        @Html.Label("lblDataFinal", "Data Final")
                        @Html.TextBox("DataFinal", "", new { @class = "form-control date" })
                    </div>

                    <div class="col-md-2">
                        @Html.Label("lblStatus", "Status")
                        @Html.DropDownList("Status", HelperLista.Status(), "Todos", new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <a href="@Url.Action("Adicionar", "Dicentes")" style="margin-top: 26px;" class="btn btn-sm btn-primary btn-block" title="">Adicionar</a>
                <a href="@Url.Action("Relatorio", "Dicentes")" class="btn btn-sm btn-primary btn-block" title="">Imprimir</a>
            </div>
        </div>

    </div>
</div>

<div id="Grid"></div>