@model Atribuicao

@{
    ViewData["Title"] = "Atribuições - Adicionar";
}

@using (Html.BeginForm("Adicionar", "Atribuicoes", FormMethod.Post))
{
    <div class="card">
        <div class="header">
            <h2>@ViewData["Title"]</h2>
        </div>

        <div class="body">
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(a => a.DiciplinaId)
                    @Html.DropDownListFor(a => a.DiciplinaId, HelperLista.Diciplinas(), null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.DiciplinaId)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.ProjetoId)
                    @Html.DropDownListFor(a => a.ProjetoId, HelperLista.Projetos(), null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.ProjetoId)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.DocenteId)
                    @Html.DropDownListFor(a => a.DocenteId, HelperLista.Docentes(), null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.DocenteId)
                </div>
            </div>
        </div>

        <hr />

        <div class="footer-view">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                <a href="/Atribuicoes/Index" class="btn btn-default fa-pull-right">Fechar</a>
            </div>
        </div>
    </div>
}