@model Domain.Atribuicao

@{
    ViewData["Title"] = "Atribuições - Adicionar";
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Adicionar", "Atribuicoes", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(a => a.DiciplinaId)
                        @Html.DropDownListFor(a => a.DiciplinaId, HelperLista.Diciplinas(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.DiciplinaId)
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(a => a.ProjetoId)
                        @Html.DropDownListFor(a => a.ProjetoId, HelperLista.Projetos(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.ProjetoId)
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(a => a.DocenteId)
                        @Html.DropDownListFor(a => a.DocenteId, HelperLista.Docentes(), null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.DocenteId)
                    </div>
                </div>

                <br />

                <div class="footer-view">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "Atribuicoes")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>