@model List<Site.AtribuicaoViewModel>

@{
    ViewData["Title"] = "Atribuições";
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Roll No.">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Department">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="input-group">
                                <input data-provide="datepicker" data-date-autoclose="true" class="form-control" placeholder="Admission Date">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6">
                            <a href="@Url.Action("Adicionar", "Atribuicoes")" class="btn btn-sm btn-primary btn-block" title="">Adicionar</a>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5">
                        <thead>
                            <tr>
                                <th>Diciplina</th>
                                <th>Projeto</th>
                                <th>Docente</th>
                                <th>Status</th>
                                <th style="text-align: center;">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderBy(a => a.AtribuicaoId))
                            {
                                <tr>
                                    <td style="vertical-align: middle !important;">@item.Diciplina</td>
                                    <td style="vertical-align: middle !important;">@item.Projeto</td>
                                    <td style="vertical-align: middle !important;">@item.Docente</td>
                                    <td style="vertical-align: middle !important;">@item.Status</td>
                                    <td style="text-align: center;">

                                        <a href="/Atribuicoes/Alterar?Id=@item.AtribuicaoId"
                                           class="btn btn-icon btn-sm js-sweetalert"
                                           title="Alterar">
                                            <i class="fas fa-edit text-primary"></i>
                                        </a>
                                        <a href="#"
                                           class="btn btn-icon btn-sm js-sweetalert Excluir"
                                           title="Excluir"
                                           data-id="@item.AtribuicaoId"
                                           data-url="/Atribuicoes/Excluir?Id=">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <br />

            <div class="footer-view">
                <div class="col-md-12">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-default fa-pull-right">Fechar</a>
                </div>
            </div>
        </div>
    </div>
</div>