@model Docente

@{
    ViewData["Title"] = "Docentes - Alterar";
}

@using (Html.BeginForm("Alterar", "Docentes", FormMethod.Post))
{
    <div class="card">
        <div class="header" style="background-color: #57a15f;">
            <h2 style="color: white;">@ViewData["Title"]</h2>
        </div>

        <div class="body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(a => a.DocenteId)
            @Html.HiddenFor(a => a.DataCadastro)

            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(a => a.Nome)
                    @Html.TextBoxFor(a => a.Nome, "", new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(a => a.Nome)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.AreaAtuacaoId)
                    @Html.DropDownListFor(a => a.AreaAtuacaoId, HelperLista.Editoras(), null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.AreaAtuacaoId)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.TituloId)
                    @Html.DropDownListFor(a => a.TituloId, HelperLista.Editoras(), null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.TituloId)
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.Email)
                    @Html.TextBoxFor(a => a.Email, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.Email)
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.EmailLattes)
                    @Html.TextBoxFor(a => a.EmailLattes, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.EmailLattes)
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.DataNascimento)
                    @Html.TextBoxFor(a => a.DataNascimento, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.DataNascimento)
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.Telefone)
                    @Html.TextBoxFor(a => a.Telefone, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.Telefone)
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.Celular)
                    @Html.TextBoxFor(a => a.Celular, "", new { @class = "form-control", })
                    @Html.ValidationMessageFor(a => a.Celular)
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.CargaHoraria)
                    @Html.TextBoxFor(a => a.CargaHoraria, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.CargaHoraria)
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.DataPosse)
                    @Html.TextBoxFor(a => a.DataPosse, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.DataPosse)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.TipoId)
                    @Html.DropDownListFor(a => a.TipoId, HelperLista.Editoras(), null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.TipoId)
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.DataCadastro)
                    @Html.TextBoxFor(a => a.DataCadastro, "", new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.StatusId)
                    @Html.DropDownListFor(a => a.StatusId, HelperLista.Editoras(), null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.StatusId)
                </div>

            </div>
        </div>

        <hr />

        <div class="footer">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                <a href="/Livros/Index" class="btn btn-default fa-pull-right">Fechar</a>
            </div>
        </div>

        <br />
    </div>
}
