@model Domain.Turma

@{
    ViewData["Title"] = "Turmas - Adicionar";
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Adicionar", "Turmas", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="card-body">

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(a => a.Nome)
                                @Html.TextBoxFor(a => a.Nome, "", new { @class = "form-control", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(a => a.Nome)
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(a => a.Descricao)
                                @Html.TextBoxFor(a => a.Descricao, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.Descricao)
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(a => a.QtdeSemestres)
                                @Html.TextBoxFor(a => a.QtdeSemestres, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.QtdeSemestres)
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(a => a.Duracao)
                                @Html.TextBoxFor(a => a.Duracao, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.Duracao)
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(a => a.CoordenadorId)
                                @Html.DropDownListFor(a => a.CoordenadorId, HelperLista.Docentes(), null, new { @class = "form-control" })
                                @Html.ValidationMessage("Coordenador")
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "Turmas")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>