@model TurmaViewModel

@{
    ViewData["Title"] = "Turmas - Adicionar";
}

@section scripts{
    <script src="~/js/change_image.js"></script>
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Adicionar", "Turmas", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="card-body">

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(a => a.Turma.Nome)
                                @Html.TextBoxFor(a => a.Turma.Nome, "", new { @class = "form-control", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(a => a.Turma.Nome)
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(a => a.Turma.Descricao)
                                @Html.TextBoxFor(a => a.Turma.Descricao, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.Turma.Descricao)
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(a => a.Turma.QtdeSemestres)
                                @Html.TextBoxFor(a => a.Turma.QtdeSemestres, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.Turma.QtdeSemestres)
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(a => a.Turma.Duracao)
                                @Html.TextBoxFor(a => a.Turma.Duracao, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.Turma.Duracao)
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(a => a.Turma.CoordenadorId)
                                @Html.DropDownListFor(a => a.Turma.CoordenadorId, HelperLista.Docentes(), null, new { @class = "form-control" })
                                @Html.ValidationMessage("Coordenador")
                            </div>
                        </div>

                        <div class="row clearfix margin-top-40">

                            <div class="col-sm-2">
                                <img id=preview width="100" height="100" src="~/images/sem-imagem.jpg">
                            </div>

                            <div class="col-md-6" style="margin-left: -9%;">
                                <label asp-for="File"></label>
                                <input asp-for="File" class="form-control" />
                                <span asp-validation-for="File" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "Turmas")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>