@model Domain.User

@{
    ViewData["Title"] = "Usuário - Detalhes";
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        <div class="card-body">

            <div class="row clearfix">
                <div class="col-md-4">
                    @Html.LabelFor(a => a.Nome)
                    @Html.TextBoxFor(a => a.Nome, "", new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.Email)
                    @Html.TextBoxFor(a => a.Email, "", new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.EmailLattes)
                    @Html.TextBoxFor(a => a.EmailLattes, "", new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.AreaAtuacaoId)
                    @Html.DropDownListFor(a => a.AreaAtuacaoId, HelperLista.AreaAtuacao(), null, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.TituloId)
                    @Html.DropDownListFor(a => a.TituloId, HelperLista.Titulos(), null, new { @class = "form-control", @readonly = "readonly" })
                </div>


                <div class="col-md-2">
                    @Html.LabelFor(a => a.DataNascimento)
                    @Html.TextBoxFor(a => a.DataNascimento, "", new { @class = "form-control date", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.Telefone)
                    @Html.TextBoxFor(a => a.Telefone, "", new { @class = "form-control celular", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.Celular)
                    @Html.TextBoxFor(a => a.Celular, "", new { @class = "form-control celular", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.CargaHoraria)
                    @Html.TextBoxFor(a => a.CargaHoraria, "", new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.DataPosse)
                    @Html.TextBoxFor(a => a.DataPosse, "", new { @class = "form-control date", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.TipoId)
                    @Html.DropDownListFor(a => a.TipoId, HelperLista.TipoDocentes(), null, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.DataCadastro)
                    @Html.TextBoxFor(a => a.DataCadastro, "", new { @class = "form-control date", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.StatusId)
                    @Html.DropDownListFor(a => a.StatusId, HelperLista.Status(), null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="row clearfix margin-top-40">
                <div class="col-md-12">
                    <a href="@Url.Action("Index", "User")" class="btn btn-default fa-pull-right">Fechar</a>
                </div>
            </div>
        </div>
    </div>
</div>