@model DiciplinaReportViewModel

@{
    ViewData["Title"] = "Usuários - Relatório";
}

@section Scripts{
    <script>
        $(function () {

            $("#DataInicial, #DataFinal").datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR'
            });
        });

    </script>
}

<div class="col-xl-6 col-md-6">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Relatorio", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="row clearfix">

                    <div class="col-md-4">
                        @Html.Label("Status")
                        @Html.DropDownListFor(a => a.StatusId, HelperLista.Status(), "Selecione", new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(a => a.StatusId)
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        @Html.Label("Data Inicial")
                        @Html.TextBoxFor(a => a.DataInicial, "", new { @class = "form-control date" })
                        @Html.ValidationMessageFor(a => a.DataInicial)
                    </div>

                    <div class="col-md-4">
                        @Html.Label("Data Final")
                        @Html.TextBoxFor(a => a.DataFinal, "", new { @class = "form-control date" })
                        @Html.ValidationMessageFor(a => a.DataFinal)
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Imprimir</button>
                        <a href="@Url.Action("Index", "User")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>