@model Diciplina

@{
    ViewData["Title"] = "Diciplinas - Alterar";
}

@using (Html.BeginForm("Alterar", "Diciplinas", FormMethod.Post))
{
    <div class="card">
        <div class="header" style="background-color: #57a15f;">
            <h2 style="color: white;">@ViewData["Title"]</h2>
        </div>

        <div class="body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(a => a.DiciplinaId)
            @Html.HiddenFor(a => a.DataCadastro)

            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(a => a.Nome)
                    @Html.TextBoxFor(a => a.Nome, "", new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(a => a.Nome)
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.CargaHoraria)
                    @Html.TextBoxFor(a => a.CargaHoraria, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.CargaHoraria)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.HoraSemanal)
                    @Html.DropDownListFor(a => a.HoraSemanal, HelperLista.Editoras(), null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.HoraSemanal)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.CreditoEnsino)
                    @Html.TextBoxFor(a => a.CreditoEnsino, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.CreditoEnsino)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.CreditoAtividadePratica)
                    @Html.TextBoxFor(a => a.CreditoAtividadePratica, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.CreditoAtividadePratica)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.CreditoAtividadeCampo)
                    @Html.TextBoxFor(a => a.CreditoAtividadeCampo, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.CreditoAtividadeCampo)
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(a => a.Ementa)
                    @Html.TextAreaFor(a => a.Ementa, 6, 30, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.Ementa)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.StatusId)
                    @Html.DropDownListFor(a => a.StatusId, HelperLista.Status(), null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.StatusId)
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.DataCadastro)
                    @Html.TextBoxFor(a => a.DataCadastro, "", new { @class = "form-control", @readolny = "readolny" })
                    @Html.ValidationMessageFor(a => a.DataCadastro)
                </div>
            </div>
        </div>

        <hr />

        <div class="footer">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                <a href="/Diciplinas/Index" class="btn btn-default fa-pull-right">Fechar</a>
            </div>
        </div>

        <br />
    </div>
}