@model Address

@{
    Layout = null;
}

@using (Html.BeginForm("AttachAddress", "Profile", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.UserId)

    <div class="row clearfix">
        <div class="col-md-4">
            @Html.LabelFor(a => a.Bairro)
            @Html.TextBoxFor(a => a.Bairro, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Bairro)
        </div>

        <div class="col-md-4">
            @Html.LabelFor(a => a.Logradouro)
            @Html.TextBoxFor(a => a.Logradouro, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Logradouro)
        </div>

        <div class="col-md-2">
            @Html.LabelFor(a => a.Numero)
            @Html.TextBoxFor(a => a.Numero, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Numero)
        </div>

        <div class="col-md-2">
            @Html.LabelFor(a => a.Cep)
            @Html.TextBoxFor(a => a.Cep, "", new { @class = "form-control cep" })
            @Html.ValidationMessageFor(a => a.Cep)
        </div>

        <div class="col-md-3">
            @Html.LabelFor(a => a.UF)
            @Html.DropDownListFor(a => a.UF, HelperLista.Estados(), "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.UF)
        </div>

        <div class="col-md-3">
            @Html.LabelFor(a => a.MunicipioId)
            @Html.DropDownListFor(a => a.MunicipioId, HelperLista.Municipios(), "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.MunicipioId)
        </div>
    </div>

    <div class="row clearfix margin-top-40">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
        </div>
    </div>
}