@model UserViewModel

@{
    ViewData["Title"] = "Meu Perfil";
}

@section scripts{
    <script src="~/js/change_image.js"></script>
}

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informações Básicas</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Alterar", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row clearfix">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(a => a.User.UserId)
                        @Html.HiddenFor(a => a.User.DataCadastro)
                        @Html.HiddenFor(a => a.User.StatusId)
                        @Html.HiddenFor(a => a.User.TipoAcessoId)
                        @Html.HiddenFor(a => a.User.TipoId)
                        @Html.HiddenFor(a => a.User.CargoId)

                        <div class="col-md-6">
                            @Html.LabelFor(a => a.User.Nome)
                            @Html.TextBoxFor(a => a.User.Nome, "", new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(a => a.User.Nome)
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(a => a.User.Email)
                            @Html.TextBoxFor(a => a.User.Email, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.User.Email)
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(a => a.User.EmailLattes)
                            @Html.TextBoxFor(a => a.User.EmailLattes, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.User.EmailLattes)
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(a => a.User.AreaAtuacaoId)
                            @Html.DropDownListFor(a => a.User.AreaAtuacaoId, HelperLista.AreaAtuacao(), null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.User.AreaAtuacaoId)
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(a => a.User.TituloId)
                            @Html.DropDownListFor(a => a.User.TituloId, HelperLista.Titulos(), null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.User.TituloId)
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(a => a.User.DataNascimento)
                            @Html.TextBoxFor(a => a.User.DataNascimento, "", new { @class = "form-control date" })
                            @Html.ValidationMessageFor(a => a.User.DataNascimento)
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(a => a.User.Telefone)
                            @Html.TextBoxFor(a => a.User.Telefone, "", new { @class = "form-control celular" })
                            @Html.ValidationMessageFor(a => a.User.Telefone)
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(a => a.User.Celular)
                            @Html.TextBoxFor(a => a.User.Celular, "", new { @class = "form-control celular" })
                            @Html.ValidationMessageFor(a => a.User.Celular)
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(a => a.User.Rg)
                            @Html.TextBoxFor(a => a.User.Rg, "", new { @class = "form-control", @maxlength = "8" })
                            @Html.ValidationMessageFor(a => a.User.Rg)
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(a => a.User.Cpf)
                            @Html.TextBoxFor(a => a.User.Cpf, "", new { @class = "form-control cpf" })
                            @Html.ValidationMessageFor(a => a.User.Cpf)
                        </div>
                    </div>

                    <div class="row clearfix margin-top-40">

                        <div class="col-sm-2">
                            <img id=preview width="100" height="100" src="@Model.Image">
                        </div>

                        <div class="col-md-6">
                            <label asp-for="File"></label>
                            <input asp-for="File" class="form-control" />
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row clearfix margin-top-40">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-4">
        <div class="card">
            <div class="card-body w_user">
                <div class="user_avtar">
                    <img class="rounded-circle" src="@Model.Image" alt="">
                </div>
                <div class="wid-u-info">
                    <h5>@Model.User.Nome</h5>
                    <p class="text-muted m-b-0">@Model.TipoAcesso</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Alterar Senha</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("AttachPassword", "Profile", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(a => a.User.UserId)

                    <div class="row clearfix">
                        <div class="col-md-12">
                            @Html.LabelFor(a => a.ChangePassword.Email)
                            @Html.TextBoxFor(a => a.ChangePassword.Email, "", new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(a => a.ChangePassword.Email)
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(a => a.ChangePassword.Password)
                            @Html.TextBoxFor(a => a.ChangePassword.Password, "", new { @class = "form-control", @type = "password", @required = "required" })
                            @Html.ValidationMessageFor(a => a.ChangePassword.Password)
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(a => a.ChangePassword.ConfirmPassword)
                            @Html.TextBoxFor(a => a.ChangePassword.ConfirmPassword, "", new { @class = "form-control", @type = "password", @required = "required" })
                            @Html.ValidationMessageFor(a => a.ChangePassword.ConfirmPassword)
                        </div>
                    </div>

                    <div class="row clearfix margin-top-40">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Gravar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Endereço</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("AttachAddress", "Profile", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(a => a.User.UserId)

                    <div class="row clearfix">
                        <div class="col-md-4">
                            @Html.LabelFor(a => a.Address.Bairro)
                            @Html.TextBoxFor(a => a.Address.Bairro, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Address.Bairro)
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(a => a.Address.Logradouro)
                            @Html.TextBoxFor(a => a.Address.Logradouro, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Address.Logradouro)
                        </div>

                        <div class="col-md-2">
                            @Html.LabelFor(a => a.Address.Numero)
                            @Html.TextBoxFor(a => a.Address.Numero, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Address.Numero)
                        </div>

                        <div class="col-md-2">
                            @Html.LabelFor(a => a.Address.Cep)
                            @Html.TextBoxFor(a => a.Address.Cep, "", new { @class = "form-control cep" })
                            @Html.ValidationMessageFor(a => a.Address.Cep)
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(a => a.Address.EstadoId)
                            @Html.DropDownListFor(a => a.Address.EstadoId, HelperLista.Titulos(), null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Address.EstadoId)
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(a => a.Address.MunicipioId)
                            @Html.DropDownListFor(a => a.Address.MunicipioId, HelperLista.Titulos(), null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Address.MunicipioId)
                        </div>
                    </div>
                }
                <div class="row clearfix margin-top-40">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>