@model Domain.Dicente
@{
    ViewData["Title"] = "Dicentes - Adicionar";
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Adicionar", "Dicentes", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Matricula)
                        @Html.TextBoxFor(a => a.Matricula, "", new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(a => a.Matricula)
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(a => a.Nome)
                        @Html.TextBoxFor(a => a.Nome, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Nome)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(a => a.Email)
                        @Html.TextBoxFor(a => a.Email, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Email)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Telefone)
                        @Html.TextBoxFor(a => a.Telefone, "", new { @class = "form-control celular" })
                        @Html.ValidationMessageFor(a => a.Telefone)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.Celular)
                        @Html.TextBoxFor(a => a.Celular, "", new { @class = "form-control celular" })
                        @Html.ValidationMessageFor(a => a.Celular)
                    </div>
                </div>

                <br />

                <div class="footer-view">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "Dicentes")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
