@model PlanoTrabalhoViewModel

@{
    ViewData["Title"] = "Planos de Trabalho - Adicionar";
}

@section scripts{
    <script src="~/js/change_image.js"></script>
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        @using (Html.BeginForm("Adicionar", "PlanosTrabalho", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="card-body">

                @Html.AntiForgeryToken()

                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.LabelFor(a => a.PlanoTrabalho.UserId)
                        @Html.DropDownListFor(a => a.PlanoTrabalho.UserId, HelperLista.Docentes(), "Selecione", new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessage("Docente")
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.PlanoTrabalho.DiaSemana)
                        @Html.DropDownListFor(a => a.PlanoTrabalho.DiaSemana, HelperLista.DiaSemana(), "Selecione", new { @class = "form-control" })
                        @Html.ValidationMessage("DiaSemana")
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.PlanoTrabalho.HoraInicio)
                        @Html.TextBoxFor(a => a.PlanoTrabalho.HoraInicio, "", new { @class = "form-control time" })
                        @Html.ValidationMessage("HoraInicio")
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(a => a.PlanoTrabalho.HoraEncerramento)
                        @Html.TextBoxFor(a => a.PlanoTrabalho.HoraEncerramento, "", new { @class = "form-control time" })
                        @Html.ValidationMessage("HoraEncerramento")
                    </div>

                </div>

                <div class="row clearfix">

                    <div class="col-md-6">
                        @Html.LabelFor(a => a.PlanoTrabalho.DescricaoAtividade)
                        @Html.TextAreaFor(a => a.PlanoTrabalho.DescricaoAtividade, 6, 30, new { @class = "form-control" })
                        @Html.ValidationMessage("DescricaoAtividade")
                    </div>
                </div>

                <div class="row clearfix margin-top-40">

                    <div class="col-sm-2">
                        <img id=preview width="100" height="100" src="~/images/sem-imagem.jpg">
                    </div>

                    <div class="col-md-6">
                        <label asp-for="File"></label>
                        <input asp-for="File" class="form-control" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                </div>

                <div class="row clearfix margin-top-40">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                        <a href="@Url.Action("Index", "PlanosTrabalho")" class="btn btn-default fa-pull-right">Fechar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>