@model Domain.PlanoTrabalho

@{
    ViewData["Title"] = "Planos de Trabalho - Detalhes";
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        <div class="card-body">

            <div class="row clearfix">
                <div class="col-md-6">
                    @Html.LabelFor(a => a.UserId)
                    @Html.DropDownListFor(a => a.UserId, HelperLista.Docentes(), null, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(a => a.DiaSemana)
                    @Html.DropDownListFor(a => a.DiaSemana, HelperLista.DiaSemana(), null, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(a => a.HoraInicio)
                    @Html.TextBoxFor(a => a.HoraInicio, "", new { @class = "form-control time", @readonly = "readonly" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(a => a.HoraEncerramento)
                    @Html.TextBoxFor(a => a.HoraEncerramento, "", new { @class = "form-control time", @readonly = "readonly" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(a => a.StatusId)
                    @Html.DropDownListFor(a => a.StatusId, HelperLista.Status(), null, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(a => a.DataCadastro)
                    @Html.TextBoxFor(a => a.DataCadastro, "", new { @class = "form-control date", @readonly = "readonly" })
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-6">
                    @Html.LabelFor(a => a.DescricaoAtividade)
                    @Html.TextAreaFor(a => a.DescricaoAtividade, 6, 30, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <br />

            <div class="row clearfix">
                <div class="col-md-12">
                    <a href="@Url.Action("Index", "PlanosTrabalho")" class="btn btn-default fa-pull-right">Fechar</a>
                </div>
            </div>
        </div>

    </div>
</div>